[Unit]
Description=Minori

[Service]
Type=simple
WorkingDirectory=/home/byxk/git/minori
ExecStartPre=/bin/fish -c "if not pgrep deluged; deluged; end"
ExecStart=/home/byxk/.pyenv/versions/minori/bin/python minori.py --minorin

[Install]
WantedBy=default.target
